{% extends 'home/index.html' %}
{% block content %}
{% load tags%}

<table id="userList" class="table table-hover display responsive nowrap" style="width:100%">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>E-mail</td>
            <td>Created at</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div id="events"></div>
{% endblock %}

{% block script %}
<script language="javascript">
    $(document).ready(function () {
        var events = $('#events');
        var oTable = $('#userList').dataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'userList' %}",
            "columns": [
                { "data": "id" },
                { "data": "name" },
                { "data": "email" },
                { "data": "createdAt" }
            ],
            dom: 'Bfrtip',
            select: true,
            buttons: [
                {
                    text: "<i class='fas fa-edit'></i>",
                    action: function (e, dt, type, indexes) {
                        var data = this.rows( { selected: true }).data();
                        console.log(data[0]);
                    }                
                },{
                    text: "<i class='fas fa-sync-alt'></i>",
                    action: function (e, dt, type, indexes) {
                        this.ajax.reload();
                    }
                }
            ]
        });
    });

    $("form").submit(function(e){
        e.preventDefault();
        let data = $(this).serialize();
        $.post(this.action, data, function(result){
            console.log(result)
        })
    });
</script>
{% endblock %}

{% block footer %}
<div class="d-flex justify-content-end">
    <a href="{% url 'userCreate'%}" class="btn btn-primary">New</a>
</div>
{% endblock%}